.property-details-container {
  padding: 20px;
}

.search-input-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%; /* Make it full width */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.back-button {
  display: block;
  margin: 20px 0;
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
}
