/* src/styles/tailwind.css */

/* External Fonts */
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Tailwind Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  @apply leading-normal m-0;
   
  background-color: white;
}

*,
::before,
::after {
  border-width: 0;
}

/* Component Styles */
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

/* Root Variables */
:root {
  --primary-colour: rgba(18, 175, 155, 1);
  --text-colour: rgba(2, 9, 29, 1);
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
  .w-full {
    width: 100%;
  }
  /* Add more styles as needed for mobile */
}

/* Keyframes Animation */
@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Roll Image Animation */
.roll-image {
  animation: roll 2s linear infinite; /* Adjust the duration and timing function as needed */
}



/* Property Listing Styles */
.property-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.property-listing-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px; /* Adjust the margin between individual cards */
}

.property-listing-item:hover {
  transform: scale(1.05);
}

.property-listing-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-listing-item .property-details {
  padding: 15px;
}

.property-listing-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.property-listing-item p {
  margin: 5px 0;
}

.property-listing-item p.views {
  font-weight: bold;
}

.property-listing-item p.status {
  color: #009688;
  font-weight: bold;
}

.search-bar-container {
  margin-bottom: 20px; /* Adjust as needed */
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Enter, Filter, Compare Buttons */
.button-container {
  display: flex;
  gap: 10px;
}

.enter-button,
.filter-button,
.apply-filter-button,
.compare-button,
.grid-button,
.show-map-button {
  padding: 10px;
  font-size: 14px;
  color: #12AF9B;
  border: 1px solid #12AF9B;
  border-radius: 9px;
  background-color: white;
  display: flex;
  align-items: center;
  font-family: 'Manrope';
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

@media (max-width: 600px) {
  .buttons-container {
    flex-direction: column;
  }
}






.show-map-button {
  position: relative;
  left: 10px;
  top: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.show-map-button:hover {
  background-color: #0e906d;
}

/* MapView Component Styles */
.map-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  width: 100%;
  height: 400px;
  margin-top: 190px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px; /* Adjust as needed */
}

/* Input Text Field Style */
.input-text-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Manrope, sans-serif';
  font-size: 18px;
}

.filter-button,
.apply-filter-button {
  padding: 10px;
  font-size: 13px;
  color: #12AF9B;
  border: 1px solid #12AF9B;
  border-radius: 9px;
  background-color: white;
  display: flex;
  font-family: 'Manrope';
  align-items: center;
  transition: background-color 0.3s;
}

.filter-button:hover,
.apply-filter-button:hover {
  background-color: #12AF9B;
  color: #fff;
}

/* Compare Button Animation */
.compare-button {
  padding: 10px;
  font-size: 16px;
  font-family: manrope;
  color: #12AF9B;
  border: 1px solid #12AF9B;
  border-radius: 9px;
  background-color: white;
  display: flex;
  align-items: center;
  transition: background-color 0.7s ease, color 0.3s ease, border 0.3s ease;
}

.compare-button:hover {
  background-color: #12AF9B;
  color: #fff;
}

/* Show Map Button Animation */
.show-map-button {
  padding: 10px;
  font-size: 14px;
  background: #12AF9B;
  color: #fff;
  border: none;
  border-radius: 9px;
  display: flex;
  align-items: center;
  font-family: 'Manrope';
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.show-map-button:hover {
  background-color: #0e906d;
}

.map-container {
  display: flex;
}



.frame {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

 .filter-container label, .dropdown-container label {
  font-family: 'Manrope', sans-serif;
}

.input-container {
  width: 996px;
  height: 85px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-smi) var(--padding-2xs) var(--padding-8xl);
  gap: var(--gap-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-manrope);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon3 {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}

.search {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: left;
  z-index: 3;
  margin-left: -98px;
}

.selected {
  border: 3px solid #12AF9B; /* Greenish-blue border for selected property */
}


/* Adjustments for specific screen sizes */
@media (max-width: 768px) {
  .column-divider {
    border-left: none; /* Remove the border for smaller screens */
  }
}

.image-pair img[src$="Wifi.png"],
.image-pair img[src$="p.png"] {
  width: 20px;
}

/* Add this CSS to your stylesheet */
.container {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/* Add this CSS to your stylesheet */
.label {
  color: #5C5C5C;
}

 .price-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/*.price {
  position: absolute;
  background-color: white;
  color: black;
  padding: 4px;
  border: 1px solid black;
  border-radius: 15px;
  font-family: manrope;
  font-weight: bolder;
}*/

@media screen and (max-width: 758px) {
  .dropdown-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

 

@media screen and (max-width: 768px) {
  .filter-container,
  .dropdown-container,
  .school-icon,
  .church-icon {
    left: 50%; /* Align elements to the center */
    transform: translateX(-50%);
    top: auto; /* Remove top positioning to allow vertical alignment */
    margin-top: 10px; /* Add margin between elements */
  }

  .social-amenities-modal {
    top: 70px; /* Adjust position for modal on smaller screens */
    left: 50%;
    transform: translateX(-50%);
  }
}






 
 





 

 

 

 


 



 



